*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav .primary{
    color: #FD6E0A;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
} 
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat ;
    background-position: bottom right, left; 
}
.btn-primary, .download{
    background-color: #FD6E0A;
    border: 0;
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    color: white;
}
.contact{
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
}

.banner{ 
    align-items: center;
    margin: 0 200px;
    display: flex;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-des{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
.about{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section_title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
}
.section_des{
color: #757575;
font-size: 18px;
margin-bottom: 30px;

}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
}
/* what i do  */
.what-i-do{
    margin-top: 130px ;

}
.what-i-do .section_des{
    margin-bottom: 50px;
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px; 
}
.skill-des{
    color: #757575;

}
.skill-title{
    color: black ;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px;
    border-radius: 5px;
    padding: 30px;
}
/* Resume */
.resume-content{
    display: flex;
    gap: 24px;
    margin-top: 100px;
}
.resume-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .des{
    color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}
/* Contact */
.cont .section-title{
    text-align: left;
    margin-bottom: 30px;
    font-size: 30px;  
    font-weight: 700;
}
.cont{
    display: flex;
    gap: 100px;
    background: #FFF8F3 ;
    padding: 130px 200px;
}
.cont input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px ;
}
input {
    height: 64px;
}
.section-des{
    margin-bottom: 30px;
}
.cont a{
    text-decoration: none;
}